<div class="row">
  <div class="col-xs-3"></div>
  <div class="col-xs-6">
      <h2>Event Description</h2>
      <p>
        <%= @event.description%>
      </p><hr />

      <h2>Organizer: <%= @event.creator.username %></h2>
      <% if @event.date? %>
        <h2>Date: <%= @event.date.strftime("%d/%m/%Y")%></h2>
      <% end %>


      <%= render 'attend_form' if logged_in? %>

      <h2>Attendees</h2>
      <ul>
        <% @event.attendees.each do |attendee| %>
          <li><%= attendee.username %> </li>
        <% end %>
      </ul>

 </div>
 <div class="col-xs-3"></div>
</div>
